<div class="container py-5">
  <div class="row py-5">
    <div class="col-sm-6">
        <img
          class="rounded-circle"
          src="https://globalassets.starbucks.com/assets/2d52f16a22fb40ff898be1815ecc952e.jpg?impolicy=1by1_wide_1242"         
          style="width: 350px;"
        />
    </div>
    <div class="col-sm-6" >      
      <div class="" *ngIf="product">
        <h1><strong>{{ product.name }}</strong></h1>
        <table class="table">
          
          <tbody>
            <tr>
              <th scope="row">Descripción</th>
              <td>{{ product.description }}</td>
            </tr>
            <tr>
              <th scope="row">Precio</th>
              <td>{{ product.price }}</td>
            </tr>
            <tr>
              <th scope="row">Tipo</th>
              <td colspan="2">{{ product.type }}</td>
            </tr>
            <tr>
              <th scope="row">Tamaño</th>
              <td colspan="2">{{ product.size }}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="row" *ngIf="product">
        <div *ngIf="confirm == false">
          <div class="mx-auto">
            <button type="button" class="btn btn-warning btn-sm">
              <i class="fas fa-pencil-alt"></i> Editar</button
            >&nbsp;
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="setConfirm(true)"
            >
              <i class="fas fa-trash"></i>
              Eliminar
            </button>
          </div>
        </div>
        <div *ngIf="confirm == true">
          <div class="alert alert-danger" role="alert">
            ¡Está seguro de eliminar este producto!
          </div>
          <button (click)="setConfirm(false)" class="btn btn-danger btn-sm">
            <i class="fas fa-cancel-alt"></i>
            Cancelar
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="deleteProduct(product._id)"
            [routerLink]="['/tablacrud']"
          >
            <i class="fas fa-trash"></i>
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
