

<div class="container py-5">
    <div class="row py-5">
      <div class="col-md-6 mx-auto">
          <h3> Sirvete un café con nosotros</h3>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Ingresa tu nombre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Ingresa tu correo</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Escriba su mensaje</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Envair</button>
          </form>
      </div>
      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-6 mx-auto">
        <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.792018243013!2d-78.49232358517052!3d-0.20804463545912688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a11052a24cf%3A0x4fd4f880843e13e!2sAv.%20Gral.%20Ignacio%20de%20Veintimilla%20%26%20Ave%2012%20de%20Octubre%2C%20Quito%20170143!5e0!3m2!1ses!2sec!4v1616370821892!5m2!1ses!2sec"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>

    </div>
  </div>

